.header {
    position: relative;
    z-index: 20;
    backdrop-filter: blur(10px);

}

.header-content {
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    position: relative;
}

.nav-link:hover {
    color: hsl(0, 0%, 73%);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: hsl(214, 89%, 64%);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.button-div{
    min-width: 4.5rem;
}

.profile-button {
    background: white;
    color: hsl(214, 89%, 64%);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(33, 150, 243, 0.4);
}

.sesion-buttons{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.register-button {
    color: white;
    text-decoration: none;
    background-color: hsl(214, 81%, 69%);
    border: none;
    border-radius: 5rem;
    padding: 0.6rem 2.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.register-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 30px rgba(33, 150, 243, 0.4);
}

.register-button:active {
    transform: translateY(0);
}

.login-button {
    color: hsl(214, 85%, 50%);
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 5rem;
    padding: 0.6rem 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 30px rgba(33, 150, 243, 0.4);
}

.login-button:active {
    transform: translateY(0);
}

/*To do: Hacer header responsive*/