body {
    background: linear-gradient(135deg, hsl(214, 85%, 30%) 0%, hsl(214, 85%, 50%) 50%, hsl(195, 100%, 50%) 100%);
    min-height: 100vh;
    color: hsl(220, 15%, 25%);
    position: relative;
    overflow-x: hidden;
}

.wave-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.wave path {
    fill: rgb(255, 255, 255);
}


/*@keyframes wave-animation {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(-25px) translateY(15px);
    }
}*/