* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    z-index: 10;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form-label {
    font-weight: 600;
    color: hsl(220, 15%, 25%);
}

.form-input {
    padding: 0.75rem;
    border: none;
    border-bottom: 2px solid hsl(220, 15%, 85%);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    flex: 1;
}

.form-container {
    background: white;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    min-width: 10rem;
    animation: fadeIn 0.5s ease-out;
}

.formulario-incidencias {
    display: flex;
    flex-direction: column;
}

.description-input{
    min-height: 20rem;
    min-width: 10rem;
    border-radius: .5rem;
}