* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    position: relative;
    z-index: 10;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    color: white;
}

.incidencias-content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: calc(100vh - 300px);
}

.overflow-container {
    z-index: 10;
    position: relative;
    overflow-y: auto;
    width: 20%;
    height: 100%;
    padding-top: 1rem;

     scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge antiguo */
}

.overflow-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.overflow-container {
    -webkit-mask-image: 
        linear-gradient(to bottom, 
            transparent 0, 
            black 20px, 
            black calc(100% - 20px), 
            transparent 100%);
    mask-image: 
        linear-gradient(to bottom, 
            transparent 0, 
            black 20px, 
            black calc(100% - 20px), 
            transparent 100%);
}

.incident-card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid hsl(213, 37%, 15%);
}



.select-incident {
    background: white;
    border-radius: 8px;
    padding: 2rem;
    width: 80%;
    height: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}





