@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body *{
    font-family: 'Rubik', sans-serif;
}

.footer {
    position: relative;
    text-align: center;
    color: hsl(214, 10%, 43%);
    margin-top: -1rem;
}