* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, hsl(214, 85%, 30%) 0%, hsl(214, 85%, 50%) 50%, hsl(195, 100%, 50%) 100%);
    min-height: 100vh;
    color: hsl(220, 15%, 25%);
    position: relative;
    overflow-x: hidden;
}

.main-content {
    position: relative;
    z-index: 10;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.map-container {
    background: white;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    width: 100%;
}

.map-leaf{
    border-radius: 1rem;
    border: 2px solid hsl(220, 15%, 85%);
    width: 100%;
    height: 55vh;
}

.map-filters{
    display: flex;
    gap: 2rem;
}

/* Grupo de gases */

.gas-content{
    position: relative;
    width: 100%;
    padding: 5rem;
    z-index: 10;
}

.gas-info-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gas-one{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.gas-two{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.gas-info-card{
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 40%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.heatmap-legend {
    background: white;
    padding: 10px 14px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    font-size: 14px;
    line-height: 18px;
}

.heatmap-legend h4 {
    margin: 0 0 8px 0;
    font-size: 14px;
    text-align: center;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.legend-item .color {
    width: 16px;
    height: 16px;
    border-radius: 3px;
}


/*Bastante responsive*/